# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
import pandas as pd

#URL of the API endpoint
url = 'http://api.citybik.es/v2/networks/santander-cycles'

#Get request to the API
response = requests.get(url)

/var/folders/63/d8v7zgcx0mxg0c0j6qhp5ln00000gn/T/ipykernel_1773/2540132653.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [2]:
# Check if the request was successful (status code 200 means successful)
if response.status_code != 200:
    print("Request failed. Status code:", response.status_code)
else:
    # Parse the JSON response
    data = response.json()
    
    # Extract station details
    stations = data['network']['stations']
    
    # Create lists to store extracted details
    name = []
    latitudes = []
    longitudes = []
    free_bikes = []
    
    # Iterate through each station and extract details
    for station in stations:
        name.append(station['name'])
        latitudes.append(station['latitude'])
        longitudes.append(station['longitude'])
        free_bikes.append(station['free_bikes'])

Put your parsed results into a DataFrame.

In [3]:
# Create a DataFrame with the extracted details
citybikes_df = pd.DataFrame({
    'Station Name': name,
    'Latitude': latitudes,
    'Longitude': longitudes,
    'Free Bikes': free_bikes
})

citybikes_df

,Station Name,Latitude,Longitude,Free Bikes
0,"001023 - River Street , Clerkenwell",51.529163,-0.109971,12
1,"001018 - Phillimore Gardens, Kensington",51.499607,-0.197574,36
2,"001024 - Park Street, Bankside",51.505974,-0.092754,1
3,"001022 - Brunswick Square, Bloomsbury",51.523951,-0.122502,19
4,"000980 - Malet Street, Bloomsbury",51.521681,-0.130432,24
...,...,...,...,...
792,"003444 - Penywern Road, Earl's Court",51.491594,-0.192369,0
793,"003465 - Eccleston Place, Victoria",51.493951,-0.147624,8
794,"200209 - Shepherd's Bush Road North, Shepherd'...",51.501595,-0.222293,27
795,"001164 - Portland Place, Marylebone",51.520715,-0.145212,4
796,"200106 - Spanish Road, Clapham Junction",51.459225,-0.180885,18

In [5]:
# Specify the file path for the CSV
csv_file_path = "../data/london_city_bikes.csv"

# Save the DataFrame to CSV
citybikes_df.to_csv(csv_file_path, index=False)